html,
body {
  height: 100%;
  width: 100%;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

body {
  margin: 0;
  background-color: whitesmoke;
}

p {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}

.page-container {
  position: relative;
  min-height: 100vh;
  width: inherit;
}

.button {
  text-decoration: none;
  font-size: small;
  text-align: center;
  display: inline-block;
  position: relative;
  color: #000000;
  border: 1px solid black;
  padding: 5px 10px;
  margin: 5px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.center {
  justify-content: center;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  justify-content: space-between;
  font-weight: 100;
  font-size: x-small;
}

footer a {
  text-decoration: none;
  color: #000000;
  padding: 5px;
  align-self: flex-end;
}

footer div {
  padding: 5px;
}

@media screen and (min-width: 700px) {
  p {
    font-size: 1.2em
  }

  footer {
    font-size: large;
  }

  footer a {
    padding: 10px;
  }

  footer div {
    padding: 10px;
  }
}

@media screen and (min-width: 500px) {
  .button {
    font-size: large;
    padding: 10px 20px;
    margin: 10px;
  }
}