html,
body {
  height: 100%;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

body {
  margin: 0;
  justify-content: space-between;
}

.inbug {
  fill-rule: evenodd;
}

p {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}

.page-container {
  margin: auto;
  width: inherit;
  flex: 1 0 auto;
}

.button-link {
  padding: 8px 12px;
  margin: 5px;
}

path,
ellipse,
rect {
  transition: ease-in;
  transition-duration: 175ms;
}

svg:hover path,
svg:hover ellipse,
svg:hover rect {
  filter: invert(100%);
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.center {
  justify-content: center;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

footer {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  font-weight: 100;
  font-size: x-small;
  flex-shrink: 0;
}

footer a {
  text-decoration: none;
  align-self: flex-end;
}

footer a,
footer div {
  padding: 5px;
}

@media screen and (min-width: 700px) {
  p {
    font-size: 1.2em;
  }

  footer {
    font-size: large;
  }

  footer a,
  footer div {
    padding: 10px;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #111111;
  }

  ellipse,
  rect {
    fill: #111111;
  }

  footer a,
  path {
    color: #eeeeee;
    fill: #eeeeee;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #eeeeee;
  }

  ellipse,
  rect {
    fill: #eeeeee;
  }

  footer a,
  path {
    color: #111111;
    fill: #111111;
  }
}